
     <!-- Bài 6 -->

     <!-- <diV>{{ title }}</diV>
     <diV>{{ text.name }}</diV>
     <diV>{{ text.old + 2024}}</diV>

     <button [disabled]="isDisable"> Hello world</button>

     <img src="assets/images/shopping-cart.jpg" alt="Logo {{contentImage}}"> -->


     <!-- Bài 7: Event -->

     <!-- <h1>Click is an event</h1>
     <button (click) = "handleClickMe()">{{ nameBtn }}</button>

     <div>Message: {{ clickMessage }}</div>

      <input type="text" (keyup)="updateField()">  -->


     <!-- Bài 8: Two way binding -->
     <!-- <input type="text" [(ngModel)] = "bindingMessage"/>
     <div>Message: {{ bindingMessage }}</div> -->


     <!-- Bài 9: Carđ UI -->

     <div class="wrapper-cart">
          
          <!-- <h1 [ngClass]="{'active': isActive}">Shopping Cart</h1> -->
          <h1>Shopping Cart</h1>
          <div *ngIf="isVisible">Hello world</div>
          
          <!-- <div class="group-cart">
               <div class="header-cart">
                    <div class="col-1">Image</div>
                    <div class="col-2">Name</div>
                    <div class="col-3">Price</div>
                    <div class="col-4">Action</div>
               </div>
               <div class="body-cart">
                    <div class="row-cart" *ngFor="let product of products">
                         <div class="col-1"> -->
                              <!-- <img
                              width="50px"
                              height="auto"
                              src="assets/images/samba-og.png" 
                              alt="SambaOG"
                              /> -->
                              <!-- <a [routerLink] = "['/detail', product.id]">
                                    <img
                                        width="50px"
                                        height="auto"
                                        src="{{ product.image}}" 
                                        alt="SambaOG"
                              />
                              </a>
                         </div> -->
                         <!-- <div class="col-2">{{ 'Samba oG' | upperCasePipe }}</div> -->
                         <!-- <div class="col-2">{{ product.name | upperCasePipe }}</div> -->
                         <!-- <div class="col-3">{{ 400000 | currencyPipe}}</div> -->
                         <!-- <div class="col-3">{{ product.price | currencyPipe}}</div> -->
                         <!-- <div class="col-4">
                              <div class="btn-main">
                                   <img
                                        width="20px"
                                        height="auto"
                                        src="assets/images/bin.png" 
                                        alt="Delete"
                                   />
                              </div>
                         </div>
                    </div>

               </div>
          </div> -->

          <!-- <app-product-item [products]="products" (dataEvent)="handleDelete($event)"></app-product-item> -->

          <div *ngIf="isVisible">
          <app-product-item [products]="products"
           (dataEvent)="handleDelete($event)"
           ></app-product-item>
          </div>

          <button (click)="handleChangeVisible()">OK</button>
     </div>
     

